
.login_card{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: url('../../images/login_bg.jpg');
    background-position: 50%;
    padding: 30px 12px;

    .login_main{
        width: 450px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 37px rgba(8,21,66,.05);
        background-color: white;
        margin: 0 auto;
    }
}


