body{
    &.light_only {

        background-color: $bg_color;

    }

	.login_card{
		background-color: $bg_color;
	}

    

    &[class*='light_'] {
		.for_dark {
			display: none;
		}

		.for_light {
			display: block;
		}
	}
}